<!DOCTYPE html>
<html lang="en">
    <%- include ("./includes/head") %>
<body>
    <div class="main">

        <%- include ("./includes/header") %>
    
        <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/products/add">Add Product</a></li>
              <li><a href="/sales">Make Sales</a></li>
              <li style="float:right"><a href="/">Back</a></li>
        </ul>
    
        <div class="container" style="overflow-x:auto;">
            <table>
                
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Prise</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            
                <tbody>
                    <% products.forEach((product) => {%>
                        <tr>
                            <td><%= product.id %></td>
                            <td><%= product.name %></td>
                            <td><%= product.prise %></td>
                            <td><%= product.quantity %></td>
                            
                            <td>
                                <a href="products/<%= product.id %>/edit">Edit</a>
                                <a href="products/<%= product.id %>">Delete</a>
                                
                            </td>
                        </tr>  
                    <% }) %>
                </tbody>
            </table>
        </div>

        <div id="footer">
            copyright @Izala Production
        </div>

    </div>    
</body>
</html>