<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="main">

        <%- include ("./includes/header") %>
    
        <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/products/add">Add Product</a></li>
              <li><a href="#">View Products</a></li>
              <li style="float:right"><a href="/sales">Make Sales</a></li>
        </ul>
    
        <div class="container" style="overflow-x:auto;">
            <table>
                
                <tr>
                    <th>Name</th>
                    <th>Prise</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            
                <tbody>
                    <% products.forEach((product) => {%>
                        <tr>
                            <td><%= product.name %></td>
                            <td><%= product.prise %></td>
                            <td><%= product.quantity %></td>
                            
                            <td>
                                <a href="#">Edit</a>
                                <a href="products/<%= product.name %>">Delete</a>
                                
                            </td>
                        </tr>  
                    <% }) %>
                </tbody>
            </table>
        </div>

        <div id="footer">
            copyright @Izala Production
        </div>

    </div>    
</body>
</html>